html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}
html *,
body * {
  box-sizing: content-box;
}
body {
  width: 100%;
}
body el-scene {
  display: block;
  width: 100%;
  background-color: #f4f2f1;
  height: 100vh;
  /*Table*/
}
body el-scene el-chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  border-radius: 16px;
  background-color: #f8f7f6;
  color: #1f313c;
  padding: 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body el-scene el-menu {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #1a223f;
  text-align: center;
}
body el-scene el-menu el-link {
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
body el-scene el-menu el-link:hover {
  background-color: #ffffff33;
}
body el-scene el-menu el-link a {
  margin: 0 10px;
  color: #adafb9;
  text-decoration: none;
}
body el-scene el-table-page {
  padding: 20px 16px;
  display: block;
}
body el-scene el-table-page .wrapper {
  background: white;
  border-radius: 8px;
  padding: 20px;
}
body el-scene el-table-page .footer-wrapper {
  margin-top: 20px;
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: right;
}
body el-scene el-table-page table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
body el-scene el-table-page table caption {
  text-align: left;
  padding: 12px;
}
body el-scene el-table-page table caption .caption-title {
  margin: 0;
}
body el-scene el-table-page table th,
body el-scene el-table-page table td {
  padding: 0 12px;
}
body el-scene el-table-page table thead tr th {
  height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid #f4f2f1;
  color: #8f989e;
  font-size: 14px;
  text-align: left;
}
body el-scene el-table-page table tbody tr {
  width: 100%;
  min-height: 64px;
  height: 64px;
  border-bottom: 1px solid #f4f2f1;
}
body el-scene el-table-page table tbody tr.loading {
  overflow: hidden;
  background-color: #DDDBDD;
  position: relative;
}
body el-scene el-table-page table tbody tr.loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: '';
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
body el-scene el-table-page table tbody tr td img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
body el-scene .loading {
  overflow: hidden;
  background-color: #DDDBDD;
  position: relative;
}
body el-scene .loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: '';
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
body el-scene el-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: grey;
  text-indent: initial;
  /*Caption*/
  /*tr*/
}
body el-scene el-table el-table-caption {
  text-align: left;
  padding: 0 12px;
  display: table-caption;
  height: 36px;
  margin-bottom: 20px;
}
body el-scene el-table el-table-caption .caption-title {
  display: inline-flex;
  margin: 0;
  align-items: center;
}
body el-scene el-table el-table-caption .caption-title el-chip {
  margin-left: 16px;
  font-size: 0.9rem;
  min-width: 14px;
}
body el-scene el-table el-table-row {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  /*th, td*/
  /*th*/
  /*tr*/
}
body el-scene el-table el-table-row el-table-head-cell,
body el-scene el-table el-table-row el-table-cell {
  display: table-cell;
  padding: 0 12px;
  vertical-align: middle;
}
body el-scene el-table el-table-row el-table-head-cell {
  height: 40px;
  border-bottom: 1px solid #f4f2f1;
  color: #8f989e;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
body el-scene el-table el-table-row el-table-cell {
  min-height: 64px;
  height: 64px;
  border-bottom: 1px solid #f4f2f1;
}
body el-scene el-table el-table-row el-table-cell img {
  max-height: 60px;
}
body el-scene el-table el-table-head {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
body el-scene el-table el-table-body {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
/*# sourceMappingURL=main.css.map */